<div class="foot">
    <div class="foot-panel">
        <div class="foot-panel-inner">
            <img src="https://www.paipai.com/static/img/bottom_slogan@2x.306d20c.png" alt="">
        </div>
        
    </div>
    <div class="foot-bar">
        <div class="foot-bar-inner">
            <div class="foot-bar-up">
                <a href="#">关于拍拍</a>
                <a href="#">联系我们</a>
            </div>
            <div class="foot-bar-down">
                <a href="#">粤ICP备13011462号-2</a>
                <span>客服电话：400-612-2333</span>
                <span>Copyright@2017-2018 拍拍.com版权所有</span>
            </div>
        </div>
    </div>
</div>